# =====================================================================================================================
# Rust environment
# =====================================================================================================================

target/
**/target/

# =====================================================================================================================
# Git files
# =====================================================================================================================

.git/
.gitignore
.gitattributes
.github/

# =====================================================================================================================
# VS Code files
# =====================================================================================================================

.vscode/
.idea/
*.code-workspace

# Vim / Neovim
*.swp
*.swo
*~

# =====================================================================================================================
# OS files
# =====================================================================================================================

.DS_Store
Thumbs.db
desktop.ini

# =====================================================================================================================
# Temporary files
# =====================================================================================================================

*.tmp
*.temp
*.log
*.bak